*{margin:0; padding:0; border:0; }
a{text-decoration:none;}
img{border:0;}
ul,li{list-style:none;}
table{border-spacing:0;}

body{}
.wrap{width:1200px; margin:0 auto; }


/* main.html */
header{}

h1{float:left;}

.menu01{float:left;}
.menu01 li {float:left; margin:60px 65px 0 0;}
.menu01 a {color:#ff9a8d;}

.topMenu{position:absolute; top:0; left:65%; width:300px; float:right; z-index:100;}
.topMenu:after{content:""; display:block; clear:both;}

.menu02>li{float:left; width:40%; line-height:30px;
    text-align:center; margin:60px 0 0 20px;}
.menu02 span{color:#ff9a8d;}
.nop a{color:#ff9a8d;}
.nop a:hover{font-weight:bold;}

.dept01{display:none; padding:20px 0; background:rgba(255,255,255,0.9);}
.area-dept01:after{content:""; display:block; clear:both;}

section{}
.content01 {background:url(../img/main_img01.jpg)50% 450px no-repeat;}
.content02 {background:url(../img/main_img01.jpg)50% 600px no-repeat;}

.cont01_text1 {padding:6% 0 50% 0; color:#ff9a8d; font-size:60px; font-weight:bold;}
.cont01_text2 {padding:10% 0 30% 0; color:#ff9a8d; font-size:60px; font-weight:bold;}

.cont01_text22 {font-size:16px; display:block; padding-top:3%;
    color:#ffbdb9; line-height:25px;}
.cont01_text3 {padding:20% 0 50% 0; color:#ff9a8d; font-size:60px; font-weight:bold;}
.cont01_text5 {padding-top:10%; color:#fff; font-size:60px; font-weight:bold;}

.padd_t_10 {padding-top:10%;}
.font_fff {color:#fff;}
.border_fff {border:1px solid #fff;}

#btnReservation {
    width:40%; padding:21px 0 17px; border:1px solid #fff; cursor:pointer; color:#fff;
    background:#ff9a8d; font-size: 20px; font-weight:400;
    margin-top:3%;
}

/* login.html */
#btnJoin02 a {margin-top:10%; padding:0 7%; color:#fff; border-right:1px solid #fff; text-decoration:none;}
#btnJoin02 a:last-child {border:0;}
.btn_area {text-align:center;}
.join {display:inline-block; }

/* join.html */
.h1_join {padding-top:5%;}
#wrapper { position: relative; height: 100%; margin-top:60px; clear:both; }
#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
}
#cont_join {width:27%; margin:0 auto; padding-top:1%;}
#btnJoin_user {
    width:45%; padding:5% 0; color:#ff9a8d; background:#fff;
    border:2px solid #fff; font-size:20px; font-weight:bold;
}
#btnJoin_store {
    width:45%; padding:5% 0; float:right; background:#ff9a8d;
    border:2px solid #fff; color:#fff; font-size:20px; font-weight:bold;
}

/* 입력폼 */
h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}
.box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}
.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}
input {
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}
.box.int_id {
    padding-right: 110px;
    opacity: 0.5;
}
.box.int_pass {
    padding-right: 40px;
    opacity: 0.5; margin-top:5%;
}
.box.int_pass_check {
    padding-right: 40px;
}
.step_url {
    /*@naver.com*/
    position: absolute;
    top: 16px;
    right: 13px;
    font-size: 15px;
    color: #8e8e8e;
}
.pswdImg {
    width: 18px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -10px;
    cursor: pointer;
}
#bir_wrap { display: table; width: 100%; }
#bir_yy { display: table-cell; width: 147px; }
#bir_mm { display: table-cell; width: 147px; vertical-align: middle; }
#bir_dd { display: table-cell; width: 147px; }
#bir_mm, #bir_dd { padding-left: 10px; }

select {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

/* 에러메세지 */
.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;
    display: none;
}
#alertTxt {
    position: absolute;
    top: 19px;
    right: 38px;
    font-size: 12px;
    color: red;
    display: none;
}
.alertTxt {
    position: absolute;
    top: 19px;
    right: 38px;
    font-size: 12px;
    color: red;
    display: none;
}

/* 버튼 */
.btn_area { margin:30px 0 91px; }

#btnJoin {
    width:100%; padding:21px 0 17px; border:0; cursor:pointer; color:#fff;
    font-size: 20px; font-weight:400;
    margin-top:5%; background:#fff; color:#ff9a8d;
}

/* owner_join.html */
#content_owner {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 868px;
}

#cont_L,#cont_R {float:left; border:3px solid #fad8d1; padding:20px;
    border-radius:10px; margin:0 5px;}

.join_text {text-align:center; padding:18.5% 0;}

#postcodify_search_button {
    display:inline-block;
    width: 20%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 0 14px 0 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}
.postcodify_postcode5, .postcodify_address, .postcodify_details, .postcodify_extra_info {
    display:inline-block;
    width: 75%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}
.postcodify_address, .postcodify_details, .postcodify_extra_info {width:100%;}


/* 스크롤 */
html,body {width:100%; height:100%; margin:0px; padding:0px; overflow:hidden; font-family:sans-serif;}

#fullpage {position:relative; top:0px; z-index:9; width:100%; height:100%;}
.fullsection{width:100%; height:100%; position:relative;}
.full1{margin-bottom:-7.8%;}
.full2{}
.full3{}
.full4{}
.full5{background:#ff9a8d;}

/* 스크롤 퀵버튼 */
ul, li{margin:0;padding:0;list-style:none}
.quick {position:fixed;right:20px;top:50%;transform:translateY(-50%); z-index:100000}
.quick li {width:10px;height:10px;margin-bottom:10px; border-radius:15px; border:2px solid #ef7464; cursor:pointer;}
.quick .on {background:#ef7464;}

/* login */
.login_wrap {width:100%; margin:0 auto; background:#ff9a8d;}
.login_h1 {width:100%; text-align:center; margin:12% 0 2% 0;}
.login_logo_img {height:150px; margin-top:10px;}
#key {height:0px;}

/* joinMember.html */
#wrap_L {width:38%; float:left; height:100%; background:#ff9a8d;}
#wrap_R {width:62%; float:left;}
.user_join_p1 {font-size:63px; color:#fff; clear:both; padding:35% 13% 0;}
.user_j_text {float:right; padding:47% 3% 0;}
.user_join_p2 {color:#fff; font-size:20px; clear:both; padding-top:10px;}
.user_join_p2 a {color:#fff;}

#wrapperJM { position: relative; height: 100%; margin-top:15%; clear:both;}
#contentJM { position: absolute; left: 50%; transform: translate(-50%); width: 55%; }

.boxJM {
    display: block;
    width: 100%;
    height: 51px;
    border-bottom: solid 2px #ff9a8d;
    padding: 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    opacity: 0.5;
}
.boxJM.int_idJM { padding-right: 110px; color:#ff9a8d;}
.boxJM.int_passJM { padding-right: 40px; margin:2% 0; }
.boxJM.int_pass_checkJM { padding-right: 40px; }
.boxJM.int_nameJM { margin:12% 0 2%; }
.boxJM.int_emailJM { margin-top:2%; }

.btn_areaJM { margin:30px 0 91px; }

#btnJoinJM {
    width:100%; padding:21px 0 17px; border:0; cursor:pointer; color:#fff;
    font-size: 20px; font-weight:bold;
    margin-top:5%; background:#ff9a8d;
}
#btnJoinJM a { color:#fff; }

/* joinMemberOK.html */
.back_btnJMO { color:#ff9a8d; border:1px solid black;}
.back_btnJMO img { margin:10px 5px 0; border:1px solid red;}


/* myTicket.html */
.wrap_M_info { padding-bottom:65px; border:1px solid black; }
.cont_NT { width:50%; margin:0 auto; }
.store_intro { text-align:center; font-size:20px; background:#ff9a8d; color:#fff; }
.intro_name { display:inline-block; opacity:0.5; font-size:12px; margin:90px 70px 30px -140px; }
.store_info span { font-size:32px; }
.store_info span:last-child { font-size:15px; display:block; margin:0; padding-bottom:60px; }

.store_aboutUs { font-size:16px; }
.store_info2 { font-size:12px; opacity:0.5; padding:20px 0 0px; }

.store_intro2 { color:#a5a5a5; margin-top:20px; }
.store_intro2 ul { width:65%; margin-left:100px; }
.store_intro2 li { margin:10px 0; }
.store_intro2 ul li:nth-child(2) { padding-left:10px; }
.store_intro2 ul li:nth-child(2) span { margin:0 165px 0 170px; }
.store_intro2 ul li:last-child { padding-left:10px; }
.store_intro2 ul li:last-child span { margin:0 155px 0 160px; }
.store_intro2 span { color:#ff9a8d; font-size:40px; margin:0 165px 0 165px; }


.padd { margin-left:-240px; padding-bottom:30px; }
.total_num {font-size:55px; margin-left:90px; }

.btn_NT { border:1px solid #ff9a8d; background:#fff; float:right; margin-right:30px; }
.btn_NT button { color:#ff9a8d; background:#fff; padding:8px 90px; }


/* memberInfo.html */
.wrap_M_info { width:75%; margin:2% auto; color:#ff9a8d; border:1px solid #faf2f0; box-shadow:0 0 30px 10px #faf2f0; }
.cont_M_info { width:50%; margin:0 auto; }

.point_M_info { text-align:center; font-size:20px; }
.point_M_info p { display:inline-block; margin-top:10%; font-weight:bold; }
.point_M_info span { margin:0 10%; font-size:40px;}
.point_a { color:#ff9a8d; font-weight:bold; }

#wrapper_M_info { position: relative; margin-top:7%; clear:both; }
#content_M_info { position: absolute; left: 50%; transform: translate(-50%); width: 100%; }
.boxJM.int_id_M_info { padding-right: 110px; color:#ff9a8d; width:55%; margin:0 auto; }
.boxJM.int_pass_M_info { width:55%; margin:3% 0 0 22.5%; display:inline-block; }
.pswdbtn_M_info { background:#ff9a8d; color:#fff; padding:1% 3%; margin-left:4%; }
.boxJM.int_name_M_info { width:55%; margin:3% auto; }
.boxJM.int_mobile_M_info { width:55%; margin:0 auto; }
.boxJM.int_email_M_info { width:55%; margin:3% auto; }

.btn_M_info { margin:500px auto 0; width:72.3%; }
.btn_M_info button { background:#ff9a8d; color:#fff;  padding:10px 110px; margin:0 20px 10px 0; }
.btn_M_info button:last-child { margin:0; }


/* memberInfoStore.html */
.wrap_MIStore { width:75%; margin:2% auto;}
.wrapL_MIStore { width:49.9%; float:left; color:#fff; background:#ff9a8d; padding-bottom:50px; }
.wrapR_MIStore { width:49.9%; float:left; color:#ff9a8d; border:1px solid #faf2f0; box-shadow:10px 0 25px 0px #faf2f0;
                 padding-bottom:608px; }

.wrap_MIStore h3 { font-size:18px; padding:15px 0 0 50px; }

#content_MIStore { position: absolute; top:50px; left: 40%; transform: translate(-50%); width: 100%; }
.pswdbtn_MIStore { background:#fff; color:#ff9a8d; padding:1% 3%; margin-left:4%; }
.boxJM_MIStore {
    display: block;
    width: 100%;
    height: 51px;
    border-bottom: solid 1px #faf2f0;
    padding: 10px 14px;
    box-sizing: border-box;
    background: #ff9a8d;
    position: relative;
}
.boxJM_MIStore.int_id_MIStore { padding-right: 110px; color:#ff9a8d; width:55%; margin:0 auto; }
.boxJM_MIStore.int_pass_MIStore { width:55%; margin:3% 0 0 22.5%; display:inline-block; }
.boxJM_MIStore.int_name_MIStore { width:55%; margin:3% auto; }
.boxJM_MIStore.int_mobile_MIStore { width:55%; margin:0 auto; }
.boxJM_MIStore.int_email_MIStore { width:55%; margin:3% auto; }
.int_MIStore {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #ff9a8d;
    font-size: 15px;
}
.boxJM_MIStore input { background-color:transparent; }
.boxJM_MIStore input::-webkit-input-placeholder { color:#fff; }
.boxJM_MIStore input::-moz-placeholder { color:#fff; }

.btn_MIStore { margin:570px 0 0 230px; width:72.3%; }
.btn_MIStore button { background:#ff9a8d; border:1px solid #fff; color:#fff; padding:10px 110px; margin:0 20px 60px 0; }
.btn_MIStore button:last-child { margin:0; }

#wrapper_M_info2 { position: relative; margin-top:7%; clear:both; }
#content_MIStore2 { position: absolute; top:50px; left: 50%; transform: translate(-50%); width: 100%; }

.boxJM input { background-color:transparent; }
.boxJM input::-webkit-input-placeholder { color:#ff9a8d; }
.boxJM input::-moz-placeholder { color:#ff9a8d; }

/* pswdChange.html */
.wrap_psCh { width:50%; margin:2% auto; color:#ff9a8d; border:1px solid #faf2f0; box-shadow:0 0 30px 10px #faf2f0; }
.cont_psCh { width:75%; margin:0 auto; }

#content_psCh { position: absolute; top:100px; left: 50%; transform: translate(-50%); width: 100%; }

.btn_psCh  { margin:500px auto 70px; width:72.7%; }
.btn_psCh button { background:#fff; border:1px solid #ff9a8d; color:#ff9a8d; padding:10px 110px; margin:0 20px 10px 0; }
.btn_psCh button:last-child { margin:0; }