<!DOCTYPE>
<HTML xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<HEAD>
    <TITLE> New Document </TITLE>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/jquery-1.12.3.js"></script>
    <script src="js/common.js"></script>
</HEAD>

<body>

    <header class="wrap">
        <h1>
            <a th:href="@{/main}" target="" title="">
                <img src="/img/logo.png" alt="logo">
            </a>
        </h1>

        <ul class="menu01">
            <li><a href="#" target="" title="">" ABOUT US "</a></li>
            <li><a href="#" target="" title="">" 기부 사용 방법 "</a></li>
            <li><a th:href="@{/store/searchStore}" target="" title="">" 가게찾기 "</a></li>
            <li><a href="#" target="" title="">" 나누다 "</a></li>
        </ul>

        <div class="topMenu">
            <ul class="menu02">
                <li><a href="#" target="" title=""><span>" 마이페이지 "</span></a>
                    <ul class="dept01" style="display:none;">
                        <li class="nop"><a href="#" target="" title="">회원정보</a></li>
                        <li class="nop"><a href="#" target="" title="">번호표</a></li>
                        <li class="nop"><a href="#" target="" title="">관리자메뉴</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/login}" target="" title="" sec:authorize="!isAuthenticated()"><span>" 로그인 "</span></a></li>
                <li><a th:href="@{/logout}" target="" title="" sec:authorize="isAuthenticated()"><span>" 로그아웃 "</span></a></li>
            </ul>
        </div>

        <div class="area-dept01"></div>
    </header>
</body>
</HTML>