<!DOCTYPE>
<HTML>
<HEAD>
    <TITLE> New Document </TITLE>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style.css">
</HEAD>

<BODY>
<div class="login_wrap">
    <header>
        <h1 class="login_h1 h1_join">
            <a th:href="@{/main}" target="" title="">
                <img src="../static/img/login_logo.png" alt="logo">
            </a>
        </h1>
    </header>
    <section>
        <form>
            <!-- wrapper -->
            <div id="wrapper">

                <div id="cont_join">
                    <a href="#" target="" title="">
                        <button type="button" id="btnJoin_user">
                            <span>일반 이용자</br>회원가입</span>
                        </button>
                    </a>

                    <a href="#" target="" title="">
                        <button type="button" id="btnJoin_store">
                            <span>매장 사장님</br>회원가입</span>
                        </button>
                    </a>
                </div>

            </div>
            <!-- wrapper -->
        </form>
        <script src="main.js"></script>
        </section>
</div>
</BODY>
</HTML>