<!DOCTYPE>
<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <TITLE> New Document </TITLE>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.12.3.js"></script>
    <script src="js/common.js"></script>
</HEAD>

<BODY>
<div class="login_wrap">
    <header>
        <h1 class="login_h1">
            <a th:href="@{/main}" target="" title="">
                <img class="login_logo_img" src="img/login_logo.png" alt="logo">
            </a>
        </h1>
    </header>
    <section>
        <form th:action="@{/login}" method="post">
            <!-- wrapper -->
            <div id="wrapper">
                <!-- content-->
                <div id="content">

                    <!-- ID -->
                    <div>
                        <!--<h3 class="join_title"><label for="id">아이디</label></h3>-->
                        <span class="box int_id">
								<input type="text" id="id" class="int" maxlength="20" placeholder="아이디" name="username">
							</span>

                        <span class="error_next_box"></span>
                    </div>

                    <!-- PW1 -->
                    <div>
                        <!--<h3 class="join_title"><label for="pswd1">비밀번호</label></h3>-->

                        <span class="box int_pass">
								<input autocomplete="false" type="password" id="key">


								<input type="password" id="pswd1" class="int" maxlength="20" placeholder="비밀번호" name="password">
									<span id="alertTxt">사용불가</span>
                            <!--<br />
                       비번 입력을 시작하면 버튼이 나옵니다.-->
									<img src="m_icon_pass.png" id="pswd1_img1" class="pswdImg">
							</span>

                        <span class="error_next_box"></span>

                    </div>
                    <div th:if="${param.error}">
                        아이디나 비밀번호가 일치하지 않습니다.
                    </div>
                    <div th:if="${param.logout}">
                        로그아웃 되었습니다
                    </div>

                    <!-- JOIN BTN-->
                    <div class="btn_area">
                        <button type="submit" id="btnJoin">
                            <span>로그인</span>
                        </button>

                        <div id="btnJoin02">
                            <a class="join" th:href="@{/join}" target="" title="">회원가입</a>
                            <a class="search01" href="#" target="" title="">아이디 찾기</a>
                            <a class="search02" href="#" target="" title="">비밀번호 찾기</a>
                        </div>
                    </div>


                </div>
                <!-- content-->

            </div>
            <!-- wrapper -->
        </form>
        <script src="main.js"></script>
    </section>

</div>
</BODY>
</HTML>