<!DOCTYPE>
<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <TITLE> New Document </TITLE>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-1.12.3.js"></script>
    <script src="/js/common.js"></script>
</HEAD>

<body>

<th:block th:replace="/header"></th:block> <!--헤더 -->


<section>
<!--번호표가 없을경우 (div안에 어디가다 넣을지몰라서 일단 밖에다가 빼뒀음)-->
    <th:block th:if="${ticket == null}">
    발급받은 번호표가 없습니다
    <a th:href="@{/store/searchStore}">매장 찾으러 가기</a>
    </th:block>


<!--    번호표가 있을경우의 코드는 나중에 프론트 다만들면 추가-->
<!-- 번호표가 있을경우-->
    <div class="wrap_M_info">
        <div class="cont_M_info">

            <div class="store_intro">

                <div class="store_info">
                    <p class="intro_name">예약한 가게</p>

                    <span>경리단길 사진관</span>

                    <span>02-63690877</span>
                </div>

                <div>
                    <span class="store_aboutUs">가게 공지사항</span>

                    <p class="store_info2">
                        촬영 문의 및 예약은 <span>02-63690877</span>
                        혹은 카카오톡 <span>rooftopphoto</span>
                        로 연락주세요 감사합니다^_^
                    </p>
                </div>

                <div>
                    <p class="intro_name padd">전체 대기인원</p>

                    <span class="total_num">2</span>
                </div>
            </div>

            <div class="store_intro2">
                <ul>
                    <li>예약 인원수<span>1</span>명</li>
                    <li>대기 번호<span>2</span></li>
                    <li>대기 시간<span>30</span>분</li>
                </ul>
            </div>
        </div>

        <div class="btn_NT">
            <button>티켓 취소</button>
        </div>

    </div>
</section>

</body>
</html>